body {
    font-family: 'Quicksand', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1543613949-95cd1b38a10e?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgba(124, 206, 247, 0.95);
    color: white;
    padding: 1.5em 0; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #7ccef7;
    padding: 1em 2em;
    margin: 0 0.5em;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
}

nav li a:hover {
    background-color: #ec4bb1;
}

main {
    margin: 1em auto;
    width: 90%;
    padding: 20px;
}

.post {
    margin-bottom: 1em;
    /* border: 1px solid #ccc; */
    padding: 1em;
}

.post .title {
    margin-bottom: 1em;
    font-size: larger;
}

.post.field {
    margin-bottom: 20px;
    font-size: 22px;
  }

.attribution {
    margin-bottom: 1em;
    font-size: smaller;
    color: #6b21a8;
    font-weight: bold;
    text-shadow: 3px;
}

#body {
    max-width: 50em;
}

textarea#body {
    width: 50em;
    height: 15em;
}

h1, h2, h3 {
    color: #5e17eb;
}

a {
    color: #d48cfb; 
    text-decoration: none;
    font-weight: 600;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.85); 
    transition: all 0.3s ease;
}

a:hover {
    color: #f5a3e6; 
    text-shadow: 0 2px 6px rgba(255, 255, 255, 0.5); 
    transform: scale(1.05); 
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ec4bb1;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
  }

  textarea {
    min-height: 250px; /* make content field taller */
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }

  /* Button style */
button {
    margin-top: 1.5em;
    padding: 12px;
    background-color: #ec4bb1;
    color: rgb(90, 55, 204);
    border: rgb(90, 55, 204);
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

button:hover {
    background-color: #438bc6;
}
